.center-images {
  display: block;
  margin: 0 auto;
  /* padding: 0 10vmin; */
}

.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10vmin 0;
}